md-dialog{
  min-width: 290px;
}

md-dialog md-dialog-content{
  padding: 25px 30px;
}

md-dialog md-dialog-content ul{
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

md-dialog.dialog-loading md-dialog-content{
  padding: 35px 30px;
}

.cms-hidden{
  display: none;
}

.search{
  padding: 0px;
  margin: 0px;
}

.search input,
.search input:focus{
  color: #FFF;
  display: block;
  border: 1px solid #A0D1FA !important;
  border-color: #A0D1FA !important;
  border-radius: 5px;
  font-size: 12pt;
  padding: 5px;
  margin: 0px;
}

.no-error .md-errors-spacer{
  display: none;
}

.leftnav md-content .pad{
  padding: 0px;
}

.center{
  text-align: center;
}

#note-name{
  margin-top: 5px;
  font-size: 22px;
  border: none;
  width: 100%;
  padding: 0px;
  color: #0072C6;
}

.highlight{
  background: #F5F5F5;
  outline: 1px dashed #BBB;
  min-height: 300px;
}

#updated{
  font-style: italic;
  color: #7EC61D;
}

.pad-none{
  padding: 0px;
}

.pad-bottom{
  padding: 0px 0px 10px 0px;
}

.leftnav,
.leftnav md-content,
.rightnav{
   background: #e0efff;
}

.leftnav md-content .md-button:hover,
.rightnav md-content .md-button:hover{
  background: #FFF;
}

.leftnav md-content .md-button,
.rightnav md-content .md-button{
  background: #e0efff;
  text-align: left;
  margin: 0px;
  border-radius: 0;
  padding: 10px;
  border-top: 1px dotted #A0D1FA;
}

.leftnav md-content .md-button:first-child,
.rightnav md-content .md-button:first-child{
  border-top: none;
}

.leftnav md-content .md-button.selected,
.rightnav md-content .md-button.selected{
  background: #caf099;
  color: #777;
}