html, body{
	height: 100%;
}

body{
    background: #FFF;
}

h1{
	font-weight: normal;
	color: #2981ba;
	font-size: 15pt;
	margin: 7px 0px;
}

.cms-hidden{
    display: none;
}

#name{
    padding: 0px;
    background: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
    font-size: 25px;
}

#updated{
    font-style: italic !important;
    color: #999;
    font-size: 15px;
    margin-top: 5px;
}

#note{
    margin: 5px 0px 60px 0px;
    padding: 0px;
    background: #FFF;
    border: none;
    box-shadow: none;
    font-weight: normal;
    font-size: 15px;
	min-height: 80%;
	border: 0px dotted #CCC;
}

.divider{
    border-color: #abcbe6;
    margin: 5px 0px 0px 0px;
}

.center{
    text-align: center;
}

.align-right{
    text-align: right !important;
}

.align-left{
    text-align: left !important;
}

.actions{
    padding-top: 10px;
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: none !important;
}

.topnav{
    background: #cde4f1;
    padding: 10px;
    color: #3473a8;
    margin: 0px;
    font-size: 15px;
    font-weight: normal;
}

/* MAIN
-------------------------------------*/
.main{
	height: 100%;
}

/* LOGIN
-------------------------------------*/
.login{
	height: 100%;
	background: #cde4f1;
}

.login .form{
	max-width: 400px;
	border: 1px solid #BBB;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 150px;
	background: #F5F5F5;
}

.login .form table{
	width: 100%;
}

.login .form table td{
	padding: 7px;
	text-align: left;
}

.login .form table td:first-child{
	text-align: right;
}

/* SIGNUP
-------------------------------------*/
.signup{
	height: 100%;
	background: #cde4f1;
}

.signup .form{
	max-width: 400px;
	border: 1px solid #BBB;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 150px;
	background: #F5F5F5;
}

.signup .form table{
	width: 100%;
}

.signup .form table td{
	padding: 7px;
	text-align: left;
}

.signup .form table td:first-child{
	text-align: right;
}

/* SIDEBAR
-------------------------------------*/
.sidebar-nav .item{
    list-style: none;
    cursor: pointer;
    font-size: 1em;
    border-top: 1px dotted #CCC;
}

.sidebar-nav .item:first-child{
    border-top: 0px;
}

.sidebar-nav .item:hover{
    background: #cde4f1;
}

.sidebar-nav .active{
    background: #3473a8;
    color: #FFF;
}

.sidebar-nav .active:hover{
    background: #3473a8;
}

/* HEIGHT
-------------------------------------*/
#sidebar-wrapper{
	position: absolute;
}

.ng-scope,
#wrapper,
#page-content-wrapper,
.container-fluid,
.container-fluid > .row,
.container-fluid > .row > .right-pane{
	height: 100%;
	border: 0px solid red;
}
