<div class="login" layout-padding>
  <md-content class="autoScroll">
    <div layout="row">
      <div flex>
        <p class="center">Log in below to access your saved notes...<br /><br /></p>
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="email"></ng-md-icon>
          </md-icon>
          <input ng-model="email" type="email" placeholder="Email Address" ng-required="true" />
        </md-input-container>
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="lock_outline"></ng-md-icon>
          </md-icon>
          <input ng-model="password" type="password" placeholder="Password" ng-required="true" ng-keyup="login($event)" />
        </md-input-container>
        
        <div class="center">
          <p><md-button class="md-raised md-primary" ng-click="login($event)">Log In</md-button></p>
          <p>Don't have an account?</p>
          <p><a href="#/signup">Sign Up &raquo;</a></p>
        </div>
      </div>
    </div>
    
  </md-content>
</div>
