<div class="login" layout-padding>
  <md-content class="autoScroll">
    <div layout="row">
      <div flex>
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="email"></ng-md-icon>
          </md-icon>
          <input ng-model="email" type="email" placeholder="Email Address" ng-required="true" />
        </md-input-container>
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="lock_outline"></ng-md-icon>
          </md-icon>
          <input ng-model="password" type="password" placeholder="Password" ng-required="true" ng-keyup="login($event)" />
        </md-input-container>
        
        <md-button class="md-raised md-primary" ng-click="login($event)">Log In</md-button>&nbsp;&nbsp;
        <a href="#/signup">Sign Up</a>
      </div>
    </div>
    
  </md-content>
</div>
