<div class="main" style="padding:15px 20px">
  <md-content layout="column" layout-align="top" layout-padding ng-model="note" ng-show="note" class="main">
    <input type="hidden" ng-model="note.id" />
    
    <div layout="row" layout-align="start top">
      <div flex>
        <input id="note-name" ng-model="note.name" ng-keyup="update()" placeholder="Note Name" />
      </div>
      
      <div layout="row" layout-align="end">
        <md-button ng-click="remove()" class="md-icon-button" aria-label="Delete">
          <md-icon>
            <ng-md-icon icon="delete"></ng-md-icon>
          </md-icon>
        </md-button>
      </div>
    </div>
    
    <md-divider></md-divider>
    
    <div id="updated" ng-show="note.updated">
      {{formatDate(note.updated, 'M/D/YY h:mma')}}
    </div>
    
    <br />
    
    <div id="note"
      placeholder="..."
      contenteditable="true"
      ng-model="note.note"
      ng-keyup="update()"
      strip-br="false"
      strip-tags="true"
      select-non-editable="true">
    </div>
  </md-content>
</div>