<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
        <div class="form">
          <h1 class="center">Sign Up</h1>
          
          <table>
            <tr>
              <td><label for="signup-email">Email</label></td>
              <td><input type="text" id="signup-email" name="email" class="form-control" placeholder="Email" /></td>
            </tr>
            <tr>
              <td><label for="signup-email">Password</label></td>
              <td><input type="password" id="signup-password" name="password" class="form-control" placeholder="Password" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <button type="button" class="btn btn-md btn-primary">Sign Up</button>&nbsp;&nbsp;
                <a href="#/login">Log In</a>
              </td>
            </tr>
          </table>
          
        </div>
        
      </div>
    </div>
  </div>
</div>