<div class="signup" layout-padding>
  <md-content class="autoScroll">
    <div layout="row">
      <div flex="66">
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="email"></ng-md-icon>
          </md-icon>
          <input ng-model="email" type="email" placeholder="Email" ng-required="true" />
        </md-input-container>
        
        <md-input-container class="md-block">
          <md-icon>
            <ng-md-icon icon="lock_outline"></ng-md-icon>
          </md-icon>
          <input ng-model="password" type="password" placeholder="Password" ng-required="true" />
        </md-input-container>
    
        <md-button class="md-raised md-primary" ng-click="signup($event)">Sign Up</md-button>&nbsp;&nbsp;
        <a href="#/login">Login In</a>
      </div>
      
      <div flex></div>
    </div>
    
  </md-content>
</div>